.main-header{
    padding: 1rem 2rem;
    background: #333;
    color: #fff;

    a{
        color: #fff;
        text-decoration: none;
    }

    &__title{
        font-size: 2rem;
        letter-spacing: .1rem;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav{
        display: flex;
    }

    &__nav-link{
        margin: 0 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: .3rem .5rem;
        cursor: pointer;

        &:hover{
            color: red;
        }
    }
}